# Copiez ce fichier en ".env.local" et remplissez avec les valeurs de votre
# projet Supabase : Project Settings > API.
NEXT_PUBLIC_SUPABASE_URL=https://xxxxxxxxxxxx.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOi...
